/.playwright-artifacts-1/
/.pnpm-store/
/.stryker-tmp/
/.vitest-attachments/
/dependency-graph.svg
/dist/
/pnpm-debug.log*
/reports/coverage/
/reports/mutation/
/selenium-debug.log
/stryker.log
/test-results/
/tests/e2e/reports/
/tests/e2e/videos/
__screenshots__/
node_modules/

# Editor and system directories and files
*.njsproj
*.ntvs*
*.sln
*.suo
.DS_Store
.idea
.vscode
