.DS_Store
.vitest-attachments/
/dependency-graph.svg
/dist/
/tests/e2e/reports/
/tests/e2e/videos/
/tests/unit/coverage/
__screenshots__/
.stryker-tmp/
node_modules/
reports/coverage/
reports/mutation/
stryker.log
npm-debug.log*
selenium-debug.log
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
